{erl_opts, [debug_info]}.

{deps, [
       {edown, {git, "https://github.com/uwiger/edown.git", {branch, "HEAD"}}}
]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{edoc_opts, [{doclet, edown_doclet},
             {source_path, ["src", "test"]},
             {stylesheet, ""},
             {image, ""},
             {app_default,"http://www.erlang.org/doc/man"}]}.
