{erl_opts, [
	warnings_as_errors,
	warn_export_all
]}.

{port_specs, [{"priv/emmap_nifs.so", ["c_src/*.cpp"]}]}.

%{deps, [{edown, ".*", {git, "https://github.com/uwiger/edown.git", "HEAD"}}]}.

{edoc_opts, [{overview,       "build-aux/overview.edoc"},
             {title,          "Erlang Memory Mapped Files"},
             {keywords,       "OS, linux, memory, mmap, erlang, elixir, system"},
             %{def,           {vsn, Vsn}},
             {stylesheet_file,"build-aux/edoc.css"},
             {app_default,    "http://www.erlang.org/doc/man"}]}.

%{edoc_opts, [{doclet, edown_doclet},
%             %{stylesheet, ""},
%             %{image, ""},
%             {source_path, ["src"]},
%             {app_default, "http://www.erlang.org/doc/man"}
%             %{top_level_readme, {"./README.md", "http://github.com/saleyn/emmap"}}
%            ]}.

{pre_hooks,  [{compile, "make nif"}]}.

{post_hooks, [{clean, "rm -fr *.dump *.crashdump _build"}]}.

