{erl_opts, [
	warnings_as_errors,
	warn_export_all
]}.

{port_specs, [{"priv/emmap_nifs.so", ["c_src/*.cpp"]}]}.

{port_env, [
             %% Make sure to link -lstdc++
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "LDFLAGS", "$LDFLAGS -lstdc++"},
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "CFLAGS", "$CFLAGS -DNDEBUG -O0 -g"},
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "CXXFLAGS", "$CFLAGS -DNDEBUG -std=c++11 -O0 -g"}
            ]}.

%{deps, [{edown, ".*", {git, "https://github.com/uwiger/edown.git", "HEAD"}}]}.

{edoc_opts, [{overview,     "README.md"},
             {title,        "Erlang Memory Mapped Files"},
             %{def,          {vsn, Vsn}},
             {stylesheet_file, "src/edoc.css"},
             {app_default,  "http://www.erlang.org/doc/man"}]}.

%{edoc_opts, [{doclet, edown_doclet},
%             %{stylesheet, ""},
%             %{image, ""},
%             {source_path, ["src"]},
%             {app_default, "http://www.erlang.org/doc/man"}
%             %{top_level_readme, {"./README.md", "http://github.com/saleyn/emmap"}}
%            ]}.

{post_hooks, [{clean, "rm -fr *.dump *.crashdump _build"}]}.

{plugins, [ pc ]}.

{provider_hooks, [
  {pre, [
    {compile, {pc, compile}},
    {clean,   {pc, clean}}
  ]}
]}.
